<!--===================================================
=            Footer Navigation Development            =
====================================================-->


<footer>
    <div class="row main-footer">
        <div class="columns small-12">
            <nav>
                <ul class="menu align-center margin-top-1 margin-bottom-1">
                    <li><a href="free-content.html">Complementary Browsing</a></li>
                    <li><a href="#">Redeem Voucher</a></li>
                    <li><a href="index.html">Terms & Conditions</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row margin-top-1">
        <div class="columns small-12 medium-8 large-8 medium-centered large-centered">
            <nav>
                <ul class="menu align-center margin-top-1">
                    <li><a href="#">Help & Guest Services</a></li>
                    <li><a href="">Terms of Use</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row margin-top-1">
        <div class="columns small-12 medium-8 large-8 medium-centered large-centered margin-bottom-2">
            <nav>
                <ul class="menu align-center">
                    <li class="copyright">&copy; xs International Limited</li>
                </ul>
            </nav>
        </div>
    </div>
</footer>


<script src="assets/js/bundle.js"></script>

</body>

</html>