<!DOCTYPE html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>iCafe</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="./css/main.css" />
</head>

<body>
  <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

  <!-- Add your site or application content here -->

  <div class="module-header">
    <div class="row">
      <div class="columns small-12 medium-8 large-9 small-centered medium-centered large-centered">
        <div class="columns small-2 medium-2 large-2 no-outline">
          <div id="wrapper-back">
            <a href="#">
              <div></div>
            </a>
          </div>
        </div>
        <div class="columns small-8 medium-8 large-8">
          <div id="wrapper-logo" class="logo"></div>
        </div>
        <div class="columns small-2 medium-2 large-2">
          <div id="wrapper-login">
            <a class="normal-link" href="#">
              <h4 class="label-color">Log out</h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--====  End of HEADER  ====-->
</body>

</html>