<!--========================================
=            Row Redeem Voucher            =
=========================================-->

<div id="FullWidthBanner_pnlRedeemVoucher">

    <div class="row">
        <div class="columns small-10 small-centered margin-bottom-1 text-center margin-top-1">
            <h4>REDEEM A VOUCHER</h4>
        </div>

        <div class="columns small-10 medium-6 small-centered margin-bottom-1 text-center margin-top-1">
            <input name="ctl00$FullWidthBanner$TextBoxVoucherCode" type="text" id="FullWidthBanner_TextBoxVoucherCode" class="voucher" />
            <input type="submit" name="ctl00$FullWidthBanner$ButtonUseVoucher" value="REDEEM" id="FullWidthBanner_ButtonUseVoucher" class="button button-primary" />
        </div>
    </div>

</div>
<!--====  End of Row Redeem Voucher  ====-->