/*
Buttons
 */

.button {
  // text-transform: uppercase;
  max-width: 650px;
  border-radius: 4px;
  font-size: 14px;
  //padding-top: 17px;
  //padding-bottom: 17px;
  align-content: center;
}

.button-homepage {
  @extend .typeset-button;
  width: 100%;
  height: 49px;
  text-transform: uppercase;
  font-family: $font-family-body;
  color: white !important;
  background-color: $color-red-dark;
  align-content: center;
  font-size: 13px;
  letter-spacing: 2px;
}

.button:hover,
.button:focus,
.button.disabled,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled],
.button[disabled]:hover,
.button[disabled]:focus {
  background-color: #b90101;
}

.button-primary {
  @extend .typeset-button;
  width: 100%;
  color: white !important;
  background-color: $color-red-dark;
}

.button-primary:hover {
  background-color: #b90101;
}

.button-primary-49 {
  @extend .button-primary;
  height: 49px;
}

.button-secondary {
  @extend .typeset-button;
  width: 95%;
  border-radius: 5px;
  color: $color-red;
  background-color: white;
  border: 1px solid $color-red;
}

.button-secondary:hover {
  background-color: $color-red-dark;
  border: 1px solid $color-red-dark;
  color: white;
}

.button-tertiary {
  @extend .typeset-button;
  width: 95%;
  border-radius: 5px;
  color: $color-black;
  background-color: white;
  border: 1px solid $color-black;
}

.button-tertiary:hover {
  background-color: $color-black;
  border: 1px solid $color-black;
  color: white;
}

.button-row {
  width: 95%;
  margin-left: auto !important;
  margin-right: auto !important;

  .button-primary {
    width: 100%;
  }

  .button-secondary {
    width: 100%;
  }

  .button-tertiary {
    width: 100%;
  }
}

.go-to-internet-button {
  width: 100%;
  max-width: none;
}

.confirm-purchase {
  width: 95%;
  border-radius: 5px;
  background-color: $color-teal;
  color: $color-white !important;
}

.device-selector-container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;

  .device-number-selector {
    border: 2px #dcd3d3 solid;
    height: 45px;
    padding: 10px;
    border-radius: 30px;

    .num {
      text-align: center;
      vertical-align: middle;
      margin-bottom: 6px;
      display: inline-block;
      box-shadow: none;
      height: 100%;
      width: 50%;
      border: none;
      font-size: 18px;
      font-weight: bold;
    }

    .plusminus {
      vertical-align: top;
      height: 100%;
      width: 20%;
      background: white;
      border: none;
      font-size: 25px;
      color: $color-primary;
    }
  }

  .price-for-devices {
    font-size: 25px;
    vertical-align: middle;
    margin-left: 20px;
  }
}
